
.reg-body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, whitesmoke, lavender);
    margin: 0;
    padding: 0;
}


.reg-box {
    width: 450px;
    margin: 60px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    text-align: center;
}

.reg-box h2 {
    color: darkblue;
    margin-bottom: 20px;
}

.reg-table {
    width: 100%;
}


.reg-input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    font-size: 16px;
}


.reg-btn {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    transition: 0.3s;
}

.reg-btn:hover {
    background-color: blue;
    transform: translateY(-2px);
}
