
.login-body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, lavender, whitesmoke);
    margin: 0;
    padding: 0;
}


.login-box {
    width: 350px;
    margin: 70px auto;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    color: darkblue;
    margin-bottom: 20px;
}


.login-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.login-btn {
    width: 96%;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: blue;
    transform: translateY(-2px);
}
